<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>passes</key>
	<dict>
		<key>pass_color_input</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>colorInput</string>
			</dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
		</dict>
		<key>pass_draw_depth_portal</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>metalVertexShader</key>
			<string>depthVertex</string>
			<key>metalFragmentShader</key>
			<string>depthFragment</string>
			<key>includeCategoryMask</key>
			<string>2</string>
			<key>inputs</key>
			<dict>
				<key>depthSampler</key>
				<string>DEPTH</string>
				<key>aPos</key>
				<string>vertexSymbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>depth</key>
				<string>depthPortal</string>
			</dict>
		</dict>
		<key>pass_draw_depth_objects</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>metalVertexShader</key>
			<string>depthVertex</string>
			<key>metalFragmentShader</key>
			<string>depthFragment</string>
			<key>includeCategoryMask</key>
			<string>1</string>
			<key>inputs</key>
			<dict>
				<key>depthSampler</key>
				<string>DEPTH</string>
				<key>aPos</key>
				<string>vertexSymbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>depth</key>
				<string>depthObjects</string>
			</dict>
		</dict>
		<key>pass_combine</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>metalVertexShader</key>
			<string>combineVertex</string>
			<key>metalFragmentShader</key>
			<string>combineFragmentInside</string>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
			<key>inputs</key>
			<dict>
				<key>aPos</key>
				<string>vertexSymbol</string>
				<key>colorSampler</key>
				<string>colorInput</string>
				<key>portalDepthSampler</key>
				<string>depthPortal</string>
				<key>objectsDepthSampler</key>
				<string>depthObjects</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>sequence</key>
	<array>
		<string>pass_color_input</string>
		<string>pass_draw_depth_portal</string>
		<string>pass_draw_depth_objects</string>
		<string>pass_combine</string>
	</array>
	<key>symbols</key>
	<dict>
		<key>vertexSymbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
	</dict>
	<key>targets</key>
	<dict>
		<key>colorInput</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>depthPortal</key>
		<dict>
			<key>type</key>
			<string>depth</string>
		</dict>
		<key>depthObjects</key>
		<dict>
			<key>type</key>
			<string>depth</string>
		</dict>
	</dict>
</dict>
</plist>
