<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>passes</key>
	<dict>
		<key>pass_draw_mask_portal</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>metalVertexShader</key>
			<string>maskVertex</string>
			<key>metalFragmentShader</key>
			<string>maskFragment</string>
			<key>includeCategoryMask</key>
			<string>2</string>
			<key>inputs</key>
			<dict>
				<key>colorSampler</key>
				<string>COLOR</string>
				<key>aPos</key>
				<string>vertexSymbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>maskPortal</string>
			</dict>
		</dict>
		<key>pass_draw_mask_objects</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>metalVertexShader</key>
			<string>maskVertex</string>
			<key>metalFragmentShader</key>
			<string>maskFragment</string>
			<key>includeCategoryMask</key>
			<string>1</string>
			<key>inputs</key>
			<dict>
				<key>colorSampler</key>
				<string>COLOR</string>
				<key>aPos</key>
				<string>vertexSymbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>maskObjects</string>
			</dict>
		</dict>
		<key>pass_combine</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>metalVertexShader</key>
			<string>combineVertex</string>
			<key>metalFragmentShader</key>
			<string>combineFragmentInside</string>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
			<key>inputs</key>
			<dict>
				<key>aPos</key>
				<string>vertexSymbol</string>
				<key>colorSampler</key>
				<string>COLOR</string>
				<key>portalMaskSampler</key>
				<string>maskPortal</string>
				<key>objectsMaskSampler</key>
				<string>maskObjects</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>sequence</key>
	<array>
		<string>pass_draw_mask_portal</string>
		<string>pass_draw_mask_objects</string>
		<string>pass_combine</string>
	</array>
	<key>symbols</key>
	<dict>
		<key>vertexSymbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
	</dict>
	<key>targets</key>
	<dict>
		<key>maskPortal</key>
		<dict>
			<key>type</key>
			<string>color</string>
			<key>format</key>
			<string>rgb</string>
			<key>size</key>
			<string>1024x1024</string>
			<key>scaleFactor</key>
			<integer>1</integer>
		</dict>
		<key>maskObjects</key>
		<dict>
			<key>type</key>
			<string>color</string>
			<key>format</key>
			<string>rgb</string>
			<key>size</key>
			<string>1024x1024</string>
			<key>scaleFactor</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
