<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>spaceId</key>
	<string>wkk9sh8tfd6k</string>
	<key>accessToken</key>
	<string>gMdY4P2LkjDK3Wi5GmJlKa6UUgrT8UK_BztNt4ZymQU</string>
</dict>
</plist>
