<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sequence</key>
	<array>
		<string>greyscale_scene</string>
		<string>apply_filter</string>
	</array>
	<key>passes</key>
	<dict>
		<key>greyscale_scene</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>color_scene</string>
			</dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
				<key>clearColor</key>
				<string>sceneBackground</string>
			</dict>
			<key>excludeCategoryMask</key>
			<string>8</string>
		</dict>
		<key>apply_filter</key>
		<dict>
			<key>metalVertexShader</key>
			<string>scene_filter_vertex</string>
			<key>metalFragmentShader</key>
			<string>scene_filter_fragment</string>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>inputs</key>
			<dict>
				<key>scene</key>
				<string>color_scene</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>targets</key>
	<dict>
		<key>color_scene</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
	</dict>
</dict>
</plist>
