<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>spaceId</key>
	<string>8w10rzdqepm0</string>
	<key>accessToken</key>
	<string>Kx13aZigb-LPqW1-4hp9eC6RxmselYA88_Azz40I5es</string>
	<key>accessToken PREVIEW</key>
	<string>v76gQ-zdsh0RWR3RSgVmXlOxrLj01ob6AGT1smqmj2s</string>
	<key>20AR spaceId</key>
	<string>wkk9sh8tfd6k</string>
	<key>20AR accessToken DELIVERY</key>
	<string>lmJGweOMjKvPpbRB2p_8kvQxzJliSH_8ngXiUrYcQ-k</string>
	<key>20AR accessToken PREVIEW</key>
	<string>gMdY4P2LkjDK3Wi5GmJlKa6UUgrT8UK_BztNt4ZymQU</string>
</dict>
</plist>
